@model TourInformation[]

@for (int i = 0; i < Model.Length; i += 2)
{
    <div class="card-group">
        <div class="card bg-light">
            <h2>
                <a></a>@Model[i].title
            </h2>
            <div class="card">
                @if (Model[i].photoCard == null)
                {
                    <p>net izobrazhenia</p>
                }
                else
                {
                    <img class="img-thumbnail" src=@Model[i].photoCard.thumbnail style="width:100%" alt="ХУУУУУУУУУУУУЙ" />
                }
                <div class="card-body">
                    <h4 class="card-title">@Model[i].header</h4>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Описание тура</button>
                        <div id="demo" class="collapse">
                            @Model[i].description
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="card bg-light">
            <h2>@Model[i + 1].title</h2>
            <div class="card">
                @if (Model[i + 1].photoCard == null)
                {
                    <p>net izobrazhenia</p>
                }
                else
                {
                    <img class="card-img-top" src=@Model[i + 1].photoCard.thumbnail style="width:100%" />
                }
                <div class="card-body">
                    <h4 class="card-title">@Model[i + 1].header</h4>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Описание тура</button>
                        <div id="demo" class="collapse">
                            @Model[i + 1].description
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}